<!DOCTYPE html>
<html lang="en">
    
    
    <link rel="stylesheet" href="../public/assets/css/Homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <title>Homepage</title>
</head>
<body id="body">
    <div>
        <td>
            <div class="header" style="background: 0%;">
                
                <img id="back" src="../public/assets/img/coffee-cover.png" walt="">
                <div id="top-bar">
                    <div id="logo">
                        <form id="lo" action="http://localhost:3000/"><button id="home" style="border-radius: 51%;" ><img id="logoo"  src="../public/assets/img/logo3.jpg" height="70px" alt=""></button></form>
                        <div id="profile" style="border: black solid 2px; border-radius: 5%;">
                                <div id="panda-box">
                                    <h2 id="pf_name">
                                        <% if (!username) { %>
                                            User
                                        <% } else{ %>
                                            <%=username%>
                                        <% } %>  
                                    </h2>
                                    <form action="/UserProfile"> <button id="btn-pf">
                                    <img id="panda" src="../public/assets/img/profile round.png" alt="" srcset="" style="width: 50px;height: 50px;"> </button></form>  
                            </div>
                            
                        </div>
                    </div>
                
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <% if (username == "admin2021") { %>
                    <form action="http://localhost:3000/admin-Page"><button type="submit" id="adminBtn">Go to Admin Panel</button></form>
                <% } %>
            </div>
        </td>
    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <!-- Change link to something like this on other pages as well -->
                <div id="menu-Bar">
                   <form action="http://localhost:3000/"><button id="special" >Special Offer</button></form> 
                   <form action="http://localhost:3000/monday-special/"><button id="special">Coffee</button></form>
                   <form action="http://localhost:3000/pizza-page/"><button id="special">Chocolate</button></form>
                   <form action="http://localhost:3000/combo-deals/"><button id="special" style="color: aliceblue;">Tea</button></form> 
                   
                  
                </div>
                       

                    <% var j = 0 %> 
                    <div class="product_section">
                        <% for( let i = 0; i < product.length; i++ ) { %>
                            <% if (product[i].category == "Tea") { %>
                                <div class="product_box">
                                    <div class="product_descrip">
                                        <div class="product_img">
                                            <img id="product" src="../public/assets/img/tea.jpg" alt="" srcset="">
                                        </div>
                                        <div class="product_detail">
                                            <br><br><br>
                                            <h1 id="name"> <%= product[i].title %> 
                                                <br>⭐ <%= product[i].category %> ⭐<br>
                                                <p id="caption"> <%= product[i].description %> </p>
                                            </h1>
                                        </div>
                                    </div>
                                    <h2 class="price">$<%= product[i].price %> </h2>
                                    <div class="product_btn">
                                        <form action="http://localhost:3000/product-page/<%=product[i]._id%>" class="order_btn_form"><button class="order">View Details</button></form>
                                        <button id="cart_b"><img id="cart" src="../assets/img/add to cart.jpg" alt="" srcset=""></button> 
                                    </div>
                                </div>
                                <% j++ %> 
                            <% } %>
                        <% } %>
                    </div>
                    <% if (j==0) { %>
                        <div id="noproduct">
                            There isn't any products to be found.
                        </div>
                    <% } %>

                <!-- <table cellspacing=100px>

                
                       <tr>
    
                        <td id="box1">
                            <div id="promotion">Save 7.5$</div>
                            <img id="product1" src="../assets/img/Pizaa&coke.png" alt="" srcset="">
                                <h1 id="name">Combo Sets
                                    <br>⭐ Combodeals<br>
                                    <p id="caption">Set Pizza with Cokes<br>
                                                    Save money. <br>
                                                    It had show on Combodeals menu everytime.</p></h1>
                                                    <button id="cart_b"><img id="cart" src="../assets/img/add to cart.jpg" alt="" srcset=""></button>
                                <h2>$16.50$</h2> 
                                <form action="http://localhost:3000/product-page/"><button id="order">Order Now</button></form>

                       


                            </tr>
                        <tr>
    
                                    <td id="opening">
                                                        
                                     <img id="Hours" src="../assets/img/hours.jpg" alt="" srcset="">
                                                 <h1 id="opening_H">Opening Hours
                                                     <br>Monday - Sunday / 24H<br></h1></td>
                                                            
                                                <td id="box_cont">
                                                  <br><br><br><br><br><br><br><br>
                                                 <h1 id="Contact">Contact Us</h1>
                                                 <span><input type="text" name="name" id="message" placeholder="Name">
                                                 <input type="text" name="Email" id="message" placeholder="Email">
                                                    
                                                        </span>    
                                                        <br>

                                                <input type="text" name="text" id="subject" placeholder ="Write your message here: ">
                                                                    
                                                <button id="send">Send</button> </td> 
                                                   
                     </tr>  
                </tr>


                </table> -->
                  
                    
            </div>    
        </td>
       
    </body>
   
</html>